.workoutPage {
  .header {
    display: flex;
    justify-content: center;
    background-color: rgb(7, 70, 121);
    align-items: center;
    height: 8vh;
    h2 {
      font-weight: 300;
      font-size: 28px;
      color: white;
    }
  }
  .workoutList {
    margin-bottom: 60px;
    margin-top: 30px;

    .workoutCard {
      position: relative;
      display: flex;
      justify-content: center;

      margin: 10px;
      min-width: 350px;

      .workoutText {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 400px;
        border: 2px solid rgb(2, 78, 141);
        color: rgb(46, 46, 46);
        border-radius: 5px;
        background-color: rgb(245, 245, 245);

        p {
          font-size: 16px;
          margin: 10px 10px;
        }
      }

      button {
        width: 50px;
        height: 50px;
        border-radius: 10px;
        margin-left: 20px;
        margin-right: 20px;
      }
    }
  }
  .addWorkout {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(53, 53, 53);
    color: white;
    text-align: end;
    #button {
      margin: 5px;
    }
  }
}
