.workoutPage {
  .header {
    display: flex;
    justify-content: center;
    background-color: rgb(224, 224, 224);
    align-items: center;
    height: 8vh;
    h2 {
      font-weight: 200;
      font-size: 28px;
    }
  }
  .workoutList {
    margin-bottom: 60px;

    .workoutCard {
      position: relative;
      display: flex;
      justify-content: center;
      margin: 20px;
      min-width: 350px;

      .workoutText {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 400px;
        border: 1px solid rgb(226, 226, 226);
        border-radius: 10px;

        p {
          font-size: 16px;
          margin: 10px 10px;
        }
      }

      button {
        width: 50px;
        height: 50px;
        border-radius: 10px;
        margin-left: 20px;
      }
    }
  }
  .addWorkout {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(53, 53, 53);
    color: white;
    text-align: end;
    #button {
      margin: 5px;
    }
  }
}
