.dashboardPage {
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .header {
    display: flex;
    justify-content: center;
    background-color: rgb(224, 224, 224);
    align-items: center;
    height: 8vh;
    h2 {
      font-weight: 200;
      font-size: 28px;
    }
  }

  .calendarComp {
    border: 2px solid rgb(240, 2, 2);
    margin: 40px 10px;
    padding: 5px;
    // color: white;
    // background-color: rgb(3, 109, 180);
  }

  .historyComp {
    border: 2px solid blue;
    margin: 40px 10px;
    padding: 5px;
    // color: white;
    // background-color: rgb(3, 109, 180);
  }

  .graphComp {
    border: 2px solid green;
    margin: 40px 10px;
    padding: 5px;
    // color: white;
    // background-color: rgb(3, 109, 180);

    .graphTitle {
      position: relative;
      display: flex;
      justify-content: center;

      .graphSwitch {
        position: absolute;
        display: flex;
        right: 20%;
        top: -5px;
      }
    }
  }
}
