.dashboardPage {
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .header {
    display: flex;
    justify-content: center;
    background-color: rgb(224, 224, 224);
    align-items: center;
    height: 8vh;
    h2 {
      font-weight: 200;
      font-size: 28px;
    }
  }
  .graphTitle {
    position: relative;
    display: flex;
    justify-content: center;

    .graphSwitch {
      position: absolute;
      display: flex;
      right: 20%;
      top: -5px;
    }
  }
}
