.exercisePage {
  margin-bottom: 20px;

  .loading_spinner {
    // height: 100vh;
    background-color: rgb(250, 245, 237);
    display: flex;
    align-items: flex-start;
    padding-top: 80px;
  }

  .pullUpList {
    position: fixed;

    right: 10px;
    bottom: 60px;
    width: 40px;

    button {
      height: 40px;
      width: 40px;
    }
  }
  .footer {
    width: 100%;
    background-color: rgba(87, 87, 87, 0.685);
    position: fixed;
    z-index: 0;
    bottom: 40px;
    height: 70px;

    .timerComponent {
      display: flex;
      position: fixed;
      height: 40px;
      left: 10px;
      bottom: 60px;

      input {
        width: 70px;
      }
      button {
        margin-right: 5px;
      }
    }
  }

  .header {
    display: flex;
    justify-content: center;
    background-color: rgb(7, 70, 121);
    align-items: center;
    height: 8vh;
    h2 {
      font-weight: 300;
      font-size: 28px;
      color: white;
    }
  }

  .allExercises {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    .buttonParent {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: rgb(53, 53, 53);
      color: white;
      text-align: end;
      z-index: 1;
      Button {
        margin: 5px;
      }
    }
    .exerciseList {
      width: 365px;
      margin: 0 10px;

      .exerciseCard {
        background-color: rgb(255, 255, 255);
        box-shadow: 2px 3px 3px -1px rgba(27, 27, 27, 0.75);
        border: 1px solid rgb(121, 121, 121);
        border-radius: 5px;
        padding: 10px;
        margin: 20px 0px;
        .allStats {
          display: flex;
        }
        p {
          display: flex;
          margin: 0 5px;
        }
        .exerciseTitle {
          border-bottom: 1px solid grey;
          display: flex;
          p {
            margin: 0 10px;
          }
        }
        .exerciseInput {
          display: flex;
          justify-content: center;
          input {
            width: 75px;
            margin: 10px 5px;
          }
        }
        .buttons {
          display: flex;
          justify-content: center;
          #button {
            margin: 0 5px;
            width: 250px;
          }
        }
      }
    }
  }
}
