.exercisePage {
  margin-bottom: 80px;

  .header {
    display: flex;
    justify-content: center;
    background-color: rgb(224, 224, 224);
    align-items: center;
    height: 8vh;
    h2 {
      font-weight: 200;
      font-size: 28px;
    }
  }

  .allExercises {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    .buttonParent {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: rgb(53, 53, 53);
      color: white;
      text-align: end;
      Button {
        margin: 5px;
      }
    }
    .exerciseList {
      width: 365px;
      margin: 0 10px;

      .exerciseCard {
        background-color: rgb(255, 255, 255);
        box-shadow: 2px 3px 10px -1px rgba(27, 27, 27, 0.75);
        border: 1px solid rgb(29, 29, 29);
        border-radius: 5px;
        padding: 10px;
        margin: 20px 0px;
        .allStats {
          display: flex;
        }
        p {
          display: flex;
          margin: 0 5px;
        }
        .exerciseTitle {
          border-bottom: 1px solid grey;
          display: flex;
          p {
            margin: 0 10px;
          }
        }
        .exerciseInput {
          display: flex;
          justify-content: center;
          input {
            width: 75px;
            margin: 10px 5px;
          }
        }
        .buttons {
          display: flex;
          justify-content: center;
          #button {
            margin: 0 5px;
            width: 250px;
          }
        }
      }
    }
  }
}
