.exerciseInputCard {
  background-color: rgb(238, 238, 238);

  box-shadow: 2px 3px 3px -1px rgba(27, 27, 27, 0.75);
  border: 2px solid rgb(2, 78, 141);
  border-radius: 5px;
  padding: 10px;
  margin: 20px 0px;

  .allStats {
    display: flex;
  }
  p {
    display: flex;
    margin: 0 5px;
    color: rgb(41, 41, 41);
  }
  .exerciseTitle {
    border-bottom: 1px solid grey;
    position: relative;
    display: flex;

    p {
      margin: 0 10px;
    }
    .deleteButton {
      position: absolute;
      border: none;
      right: 10px;
      height: 15px;
      width: 15px;
      background-color: none;
      color: rgb(167, 0, 0);
    }
  }
  .exerciseInput {
    display: flex;
    justify-content: center;

    input {
      width: 75px;
      margin: 10px 5px;
    }
  }
  .buttons {
    display: flex;
    justify-content: center;
    #button {
      margin: 0 5px;
      width: 250px;
    }
  }
}
