.loading_spinner {
  // z-index: 2;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  // position: fixed;
  background-color: rgba(255, 255, 255, 0);
}

.header {
  background-color: rgba(0, 0, 0, 0);
  height: 10vh;
}
