.selectedExercises {
  width: 100vw;
  display: flex;
  justify-content: center;

  .pullUpList {
    position: fixed;

    right: 10px;
    bottom: 60px;
    width: 40px;
  }
  button {
    width: 40px;
    z-index: 2;
  }
  Table {
    width: 100vw;
  }
}
