.selectedExercises {
  width: 100vw;
  display: flex;
  justify-content: center;

  .pullUpList {
    position: fixed;

    right: 40px;
    bottom: 80px;
    width: 40px;
  }
  button {
    width: 40px;
    z-index: 2;
    // // border: none;
    // // background-color: rgba(190, 3, 3, 0.74);
    // color: rgb(34, 34, 34);
  }
  Table {
    width: 100vw;
  }
}
